.display{
    background-color: lightgray;
}
.productImg{
    width:100%;
}
.discountedPrice{
    font-weight: 500px;
    font-size:1.5em;
    display:block;

}
.ogPrice{
    text-decoration: line-through;
}
.onefifth{
    width:20%
}